.DS_Store

application/cache/*
!application/cache/index.html
application/logs/*
!application/logs/index.html
!application/*/.htaccess
application/controllers/*
!application/controllers/shop.php
application/models/*
!application/models/shop_model.php
application/views/*
!application/views/shop_view.php
!application/views/errors

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

assets/css/skins
assets/css/AdminLTE.min.css
assets/js/adminlte.min.js

/vendor/

# Composer Files

composer.lock
composer.json

# IDE Files

/nbproject/

.idea/*

## Sublime Text cache files

*.tmlanguage.cache

*.tmPreferences.cache

*.stTheme.cache

*.sublime-workspace

*.sublime-project
/tests/tests/
/tests/results/
