.DS_Store

application/cache/*
!application/cache/index.html
application/logs/*
!application/logs/index.html
!application/*/.htaccess
application/controllers/*
!application/controllers/crud.php
application/models/*
!application/models/crud_model.php
application/views/*
!application/views/crud_view.php

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

assets/css/skins
assets/css/AdminLTE.min.css
assets/css/fullcalendar.min.css
assets/css/datetimepicker.min.css
assets/js/adminlte.min.js
assets/js/moment.min.js
assets/js/fullcalendar.min.js
assets/js/gcal.min.js
assets/js/datetimepicker.minjs


readme.rst
license.txt
contributing.md
.editorconfig

/vendor/

# Composer Files

composer.lock
composer.json

# IDE Files

/nbproject/

.idea/*

## Sublime Text cache files

*.tmlanguage.cache

*.tmPreferences.cache

*.stTheme.cache

*.sublime-workspace

*.sublime-project
/tests/tests/
/tests/results/
